
.jumbotron {
    color: white;
    background-color: black;
   
}

#employees {
    margin-left: 50px;
    margin-right: 50px;
    
}

#addEmployees {
    margin-left: 50px;
    margin-right: 50px;
  
}